.footer {
  padding: 160px 80px; 
  font-family: sans-serif;
  background-color: #ffffff;
}

.contenido-footer {
  border-top: 1px solid #ccc; 
  padding-top: 80px;          
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 80px;                  
  max-width: 1280px;
  margin: 0 auto;
}

.lado-izquierdo {
  max-width: 500px;
}

.lado-izquierdo h2 {
  font-size: 36px;           
  color: #2D2D2D;
  margin-bottom: 30px;
}

.lado-izquierdo p {
  font-size: 18px;           
  color: #333;
  line-height: 1.8;         
  margin-bottom: 40px;
}

.iconos-sociales {
  display: flex;
  gap: 24px;                
}

.iconos-sociales img {
  width: 32px;
  height: 32px;
}

.lado-derecho {
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-width: 300px;
  flex: 1;
}

.input-falso {
  background-color: #f2f2f2;
  padding: 20px;             
  color: #999;
  font-size: 16px;
}

.textarea-falso {
  background-color: #f2f2f2;
  padding: 20px;
  color: #999;
  font-size: 16px;
  min-height: 300px; 
}

.boton-falso {
  background-color: #2D2D2D;
  font-weight: bold; 
  color: white;
  padding: 25px 75px;        
  font-size: 20px;
  text-align: center;
  width: fit-content;
  align-self: flex-start;
  cursor: default;
}

@media (max-width: 768px) {
  .footer {
    padding: 80px 20px;
  }

  .contenido-footer {
    flex-direction: column;
    gap: 40px;
    padding-top: 40px;
  }

  .lado-izquierdo {
    max-width: 100%;
  }

  .lado-izquierdo h2 {
    font-size: 28px;
  }

  .lado-izquierdo p {
    font-size: 16px;
  }

  .lado-derecho {
    width: 100%;
  }

  .input-falso,
  .textarea-falso {
    padding: 14px;
  }

  .textarea-falso {
    min-height: 200px;
  }

  .boton-falso {
    background-color: #2D2D2D;
    font-weight: bold; 
    color: white;
    padding: 25px 75px;        
    font-size: 20px;
    text-align: center;
    width: fit-content; /* Ajusta el ancho al contenido, evita ocupar todo el ancho disponible */
    align-self: flex-start;
    cursor: default;
  }
}
