.encabezado {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: relative;
  top: 0;
  width: 100%;
}
  
  .logo-menu {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
  }
  
  .logo-texto {
    color: #000000;
    font-size: 20px;
    font-weight: 600; 
    margin-left: 1rem;
  }

  .acciones {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-right: 30px;
  }
  
  .accion {
    display: flex;
    align-items: center;
    gap: 1px;
    color: black;
    font-size: 15px;
  }
  

  .accion .text{
    color: #000000;
  }

  /* Oculta el ícono en escritorio */
.menu-icon {
  display: none;
  width: 20px; /* ajusta al tamaño de tu imagen */
  height: auto;
  cursor: pointer;
}

/* Header responsivo */
@media (max-width: 768px) {
  .acciones {
    display: none; /* oculta los enlaces */
  }

  .menu-icon {
    display: block; /* muestra la imagen del icono */
  }

  .encabezado {
    padding: 20px;
    justify-content: space-between;
  }
}

@media (max-width: 600px) {
  .tagline {
    margin-top: 10px;
    font-size: 14px;
  }
}

