/* Estilos base escritorio */
.encabezado {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  width: 100%;
  box-sizing: border-box;
}

.logo-menu {
  display: flex;
  align-items: center;
}

.logo-texto {
  font-size: 20px;
  font-weight: 600;
  color: #000;
  text-decoration: none;
}

.acciones {
  display: flex;
  align-items: center;
  gap: 40px;
}

.accion .text {
  color: #000;
  text-decoration: none;
  font-size: 15px;
}

/* El icono de menú NO aparece en escritorio */
.menu-icono-link {
  display: none;
}

/* Estilos solo para móvil */
@media (max-width: 768px) {
  .acciones {
    display: none; /* Ocultar enlaces */
  }

  .menu-icono-link {
    display: block; /* Mostrar icono de menú */
  }

  .menu-icono {
    width: 24px;
    height: auto;
    cursor: pointer;
  }

  .logo-texto {
    font-size: 18px;
  }

  .encabezado {
    padding: 20px;
  }
}
